<a href="https://colab.research.google.com/github/Shivamthakur7500/AQI-prediction-project/blob/main/AQI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/air quality data.csv')

In [ ]:
print(df.shape)

(29531, 16)

**Data cleaning**

In [ ]:
print(df.isnull().sum())
df.duplicated().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

0

In [ ]:
column = df.columns[2:-1]  # Select the columns want to fill
df[column] = df[column].fillna(df[column].mean())

print(df.isnull().sum())

City             0
Date             0
PM2.5            0
PM10             0
NO               0
NO2              0
NOx              0
NH3              0
CO               0
SO2              0
O3               0
Benzene          0
Toluene          0
Xylene           0
AQI              0
AQI_Bucket    4681
dtype: int64

In [ ]:
df.head(60)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,67.450578,118.127103,0.92000,18.220000,17.150000,23.483476,0.920000,27.640000,133.36000,0.00000,0.020000,0.000000,166.463581,NaN
1,Ahmedabad,2015-01-02,67.450578,118.127103,0.97000,15.690000,16.460000,23.483476,0.970000,24.550000,34.06000,3.68000,5.500000,3.770000,166.463581,NaN
2,Ahmedabad,2015-01-03,67.450578,118.127103,17.40000,19.300000,29.700000,23.483476,17.400000,29.070000,30.70000,6.80000,16.400000,2.250000,166.463581,NaN
3,Ahmedabad,2015-01-04,67.450578,118.127103,1.70000,18.480000,17.970000,23.483476,1.700000,18.590000,36.08000,4.43000,10.140000,1.000000,166.463581,NaN
4,Ahmedabad,2015-01-05,67.450578,118.127103,22.10000,21.420000,37.760000,23.483476,22.100000,39.330000,39.31000,7.01000,18.890000,2.780000,166.463581,NaN
5,Ahmedabad,2015-01-06,67.450578,118.127103,45.41000,38.480000,81.500000,23.483476,45.410000,45.760000,46.51000,5.42000,10.830000,1.930000,166.463581,NaN
6,Ahmedabad,2015-01-07,67.450578,118.127103,112.16000,40.620000,130.770000,23.483476,112.160000,32.280000,33.47000,0.00000,0.000000,0.000000,166.463581,NaN
7,Ahmedabad,2015-01-08,67.450578,118.127103,80.87000,36.740000,96.750000,23.483476,80.870000,38.540000,31.89000,0.00000,0.000000,0.000000,166.463581,NaN
8,Ahmedabad,2015-01-09,67.450578,118.127103,29.16000,31.000000,48.000000,23.483476,29.160000,58.680000,25.75000,0.00000,0.000000,0.000000,166.463581,NaN
9,Ahmedabad,2015-01-10,67.450578,118.127103,17.57473,7.040000,0.000000,23.483476,2.248598,8.290000,4.55000,0.00000,0.000000,0.000000,166.463581,NaN
10,Ahmedabad,2015-01-11,67.450578,118.127103,132.07000,55.800000,24.530000,23.483476,132.070000,25.030000,6.79000,0.00000,0.000000,0.000000,166.463581,NaN
11,Ahmedabad,2015-01-12,67.450578,118.127103,52.04000,40.670000,90.240000,23.483476,52.040000,51.840000,45.89000,2.41000,0.030000,7.880000,166.463581,NaN
12,Ahmedabad,2015-01-13,67.450578,118.127103,48.82000,44.200000,87.090000,23.483476,48.820000,68.210000,35.16000,9.45000,13.350000,12.500000,166.463581,NaN
13,Ahmedabad,2015-01-14,67.450578,118.127103,19.20000,27.860000,33.050000,23.483476,19.200000,52.650000,20.96000,2.16000,2.260000,5.190000,166.463581,NaN
14,Ahmedabad,2015-01-15,67.450578,118.127103,0.60000,16.960000,16.600000,23.483476,0.600000,28.890000,47.63000,0.14000,0.040000,1.350000,166.463581,NaN
15,Ahmedabad,2015-01-16,67.450578,118.127103,1.63000,21.720000,22.860000,23.483476,1.630000,38.270000,46.03000,0.35000,0.050000,2.010000,166.463581,NaN
16,Ahmedabad,2015-01-17,67.450578,118.127103,11.44000,24.730000,34.750000,23.483476,11.440000,49.500000,52.24000,0.68000,0.000000,3.270000,166.463581,NaN
17,Ahmedabad,2015-01-18,67.450578,118.127103,6.10000,25.770000,29.570000,23.483476,6.100000,48.430000,53.49000,0.74000,0.210000,2.750000,166.463581,NaN
18,Ahmedabad,2015-01-19,67.450578,118.127103,2.51000,26.880000,27.450000,23.483476,2.510000,50.030000,49.48000,0.26000,0.020000,2.800000,166.463581,NaN
19,Ahmedabad,2015-01-20,67.450578,118.127103,7.92000,26.800000,32.400000,23.483476,7.920000,58.870000,56.37000,0.24000,0.010000,3.970000,166.463581,NaN
20,Ahmedabad,2015-01-21,67.450578,118.127103,9.52000,33.560000,39.280000,23.483476,9.520000,106.930000,48.75000,0.33000,0.000000,5.650000,166.463581,NaN
21,Ahmedabad,2015-01-22,67.450578,118.127103,9.05000,17.510000,22.330000,23.483476,9.050000,23.710000,42.22000,0.00000,0.000000,4.510000,166.463581,NaN
22,Ahmedabad,2015-01-23,67.450578,118.127103,22.53000,27.960000,47.790000,23.483476,22.530000,39.190000,32.92000,0.39000,0.000000,5.950000,166.463581,NaN
23,Ahmedabad,2015-01-24,67.450578,118.127103,2.03000,20.390000,21.400000,23.483476,2.030000,40.070000,32.49000,0.47000,0.700000,1.540000,166.463581,NaN
24,Ahmedabad,2015-01-25,67.450578,118.127103,1.42000,20.430000,20.190000,23.483476,1.420000,58.410000,39.26000,0.01000,0.000000,0.940000,166.463581,NaN
25,Ahmedabad,2015-01-26,67.450578,118.127103,2.27000,21.160000,21.810000,23.483476,2.270000,43.730000,39.83000,0.06000,0.000000,1.550000,166.463581,NaN
26,Ahmedabad,2015-01-27,67.450578,118.127103,2.19000,21.700000,23.260000,23.483476,2.190000,43.280000,41.10000,0.02000,0.000000,1.650000,166.463581,NaN
27,Ahmedabad,2015-01-28,73.240000,118.127103,5.72000,21.110000,25.840000,23.483476,5.720000,36.520000,62.42000,0.03000,0.010000,1.410000,166.463581,NaN
28,Ahmedabad,2015-01-29,83.130000,118.127103,6.93000,28.710000,33.720000,23.483476,6.930000,49.520000,59.76000,0.02000,0.000000,3.140000,209.000000,Poor
29,Ahmedabad,2015-01-30,79.840000,118.127103,13.85000,28.680000,41.080000,23.483476,13.850000,48.490000,97.07000,0.04000,0.000000,4.810000,328.000000,Very Poor
30,Ahmedabad,2015-01-31,94.520000,118.127103,24.39000,32.660000,52.610000,23.483476,24.390000,67.390000,111.33000,0.24000,0.010000,7.670000,514.000000,Severe
31,Ahmedabad,2015-02-01,135.990000,118.127103,43.48000,42.080000,84.570000,23.483476,43.480000,75.230000,102.70000,0.40000,0.040000,25.870000,782.000000,Severe
32,Ahmedabad,2015-02-02,178.330000,118.127103,54.56000,35.310000,72.800000,23.483476,54.560000,55.040000,107.38000,0.46000,0.060000,35.610000,914.000000,Severe
33,Ahmedabad,2015-02-03,139.700000,118.127103,30.61000,28.400000,56.730000,23.483476,30.610000,33.790000,73.60000,0.17000,0.030000,11.870000,660.000000,Severe
34,Ahmedabad,2015-02-04,80.650000,118.127103,2.37000,22.830000,24.000000,23.483476,2.370000,25.730000,47.30000,0.00000,0.000000,0.000000,294.000000,Poor
35,Ahmedabad,2015-02-05,58.360000,118.127103,2.60000,21.390000,23.310000,23.483476,2.600000,32.660000,53.54000,0.00000,0.000000,0.000000,149.000000,Moderate
36,Ahmedabad,2015-02-06,79.290000,118.127103,1.16000,26.940000,26.830000,23.483476,1.160000,67.410000,59.30000,0.00000,0.000000,0.000000,190.000000,Moderate
37,Ahmedabad,2015-02-07,88.700000,118.127103,7.29000,31.320000,37.730000,23.483476,7.290000,80.090000,44.76000,0.00000,0.000000,0.000000,247.000000,Poor
38,Ahmedabad,2015-02-08,74.280000,118.127103,8.92000,27.300000,33.420000,23.483476,8.920000,54.280000,47.42000,0.00000,0.000000,0.270000,379.000000,Very Poor
39,Ahmedabad,2015-02-09,113.930000,118.127103,4.32000,24.270000,26.860000,23.483476,4.320000,48.730000,39.94000,0.02000,0.000000,3.550000,341.000000,Very Poor
40,Ahmedabad,2015-02-10,105.390000,118.127103,1.41000,18.210000,18.750000,23.483476,1.410000,35.910000,56.15000,0.00000,0.000000,3.310000,256.000000,Poor
41,Ahmedabad,2015-02-11,66.520000,118.127103,6.34000,23.800000,28.240000,23.483476,6.340000,66.580000,53.14000,9.70000,9.630000,16.490000,388.000000,Very Poor
42,Ahmedabad,2015-02-12,65.040000,118.127103,14.19000,30.100000,44.210000,23.483476,14.190000,65.910000,31.88000,7.72000,17.460000,2.510000,288.000000,Poor
43,Ahmedabad,2015-02-13,103.360000,118.127103,18.18000,39.560000,57.330000,23.483476,18.180000,80.430000,40.11000,11.29000,24.350000,3.350000,510.000000,Severe
44,Ahmedabad,2015-02-14,177.330000,118.127103,37.49000,47.580000,77.850000,23.483476,37.490000,99.720000,36.47000,17.00000,52.660000,6.980000,761.000000,Severe
45,Ahmedabad,2015-02-15,113.250000,118.127103,15.55000,30.500000,44.870000,23.483476,15.550000,69.710000,33.78000,10.47000,28.530000,3.220000,475.000000,Severe
46,Ahmedabad,2015-02-16,99.700000,118.127103,19.85000,28.100000,47.310000,23.483476,19.850000,73.230000,30.57000,10.28000,31.250000,4.000000,536.000000,Severe
47,Ahmedabad,2015-02-17,80.610000,118.127103,15.96000,21.040000,35.670000,23.483476,15.960000,54.700000,36.20000,8.14000,18.750000,2.520000,479.000000,Severe
48,Ahmedabad,2015-02-18,100.790000,118.127103,16.24000,25.930000,41.910000,23.483476,16.240000,43.110000,37.43000,10.00000,32.410000,4.040000,592.000000,Severe
49,Ahmedabad,2015-02-19,107.990000,118.127103,11.25000,30.090000,40.470000,23.483476,11.250000,84.860000,31.94000,9.20000,24.030000,3.250000,427.000000,Severe
50,Ahmedabad,2015-02-20,140.290000,118.127103,33.84000,36.140000,68.850000,23.483476,33.840000,101.530000,40.98000,20.12000,43.510000,7.480000,588.000000,Severe
51,Ahmedabad,2015-02-21,239.960000,118.127103,61.95000,46.250000,106.920000,23.483476,61.950000,84.870000,33.55000,22.14000,53.980000,15.440000,1141.000000,Severe
52,Ahmedabad,2015-02-22,142.960000,118.127103,45.45000,48.210000,92.320000,23.483476,45.450000,62.960000,34.77000,7.35000,22.400000,8.470000,669.000000,Severe
53,Ahmedabad,2015-02-23,238.410000,118.127103,77.70000,55.070000,131.320000,23.483476,77.700000,89.070000,37.30000,50.61000,163.640000,28.460000,1247.000000,Severe
54,Ahmedabad,2015-02-24,118.720000,118.127103,12.56000,32.010000,42.560000,23.483476,12.560000,61.540000,38.80000,16.89000,46.520000,6.050000,411.000000,Severe
55,Ahmedabad,2015-02-25,52.990000,118.127103,2.23000,10.450000,10.390000,23.483476,2.230000,32.760000,67.25000,3.85000,11.390000,0.810000,292.000000,Poor
56,Ahmedabad,2015-02-26,67.450578,118.127103,17.57473,28.560659,32.309123,23.483476,2.248598,14.531977,34.49143,3.28084,8.700972,3.070128,166.463581,NaN
57,Ahmedabad,2015-02-27,67.450578,118.127103,17.57473,28.560659,32.309123,23.483476,2.248598,14.531977,34.49143,3.28084,8.700972,3.070128,166.463581,NaN
58,Ahmedabad,2015-02-28,67.450578,118.127103,17.57473,28.560659,32.309123,23.483476,2.248598,14.531977,34.49143,3.28084,8.700972,3.070128,166.463581,NaN
59,Ahmedabad,2015-03-01,61.120000,118.127103,3.58000,16.810000,20.920000,23.483476,3.580000,28.440000,30.48000,2.69000,1.580000,1.320000,166.463581,NaN

In [ ]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,67.450578,118.127103,0.92,18.22,17.15,23.483476,0.92,27.64,133.36,0.00,0.02,0.00,166.463581,NaN
1,Ahmedabad,2015-01-02,67.450578,118.127103,0.97,15.69,16.46,23.483476,0.97,24.55,34.06,3.68,5.50,3.77,166.463581,NaN
2,Ahmedabad,2015-01-03,67.450578,118.127103,17.40,19.30,29.70,23.483476,17.40,29.07,30.70,6.80,16.40,2.25,166.463581,NaN
3,Ahmedabad,2015-01-04,67.450578,118.127103,1.70,18.48,17.97,23.483476,1.70,18.59,36.08,4.43,10.14,1.00,166.463581,NaN
4,Ahmedabad,2015-01-05,67.450578,118.127103,22.10,21.42,37.76,23.483476,22.10,39.33,39.31,7.01,18.89,2.78,166.463581,NaN